@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <AuthorizeView>
    <Authorized>
        خوش آمدید @context.User.FindFirst("NameUser")?.Value
    </Authorized>
    <NotAuthorized>
        لطفاً وارد شوید.
    </NotAuthorized>
</AuthorizeView>

<button @onclick="Login">ورود</button>

@code {
    async Task Login()
    {
        var user = new UserLoginedModel { IdUser = "123", NameUser = "سینا حسینی" };
        var customAuthStateProvider = (CustomAuthenticationStateProvider)Auth;
        await customAuthStateProvider.UpdateAuthenticationState(user);
        NavigationManager.NavigateTo("/");
    }
} *@